@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&family=Prompt:ital,wght@1,500&display=swap");

body {
  background-color: rgb(236, 235, 235);
}
.pokeconteiner {
  margin: 10px;
}
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  font-size: 300%;
  font-family: "Gemunu Libre", sans-serif;
}
.pic {
  margin: 10px;
  width: 20rem;
  border: solid 0.5px black;
  background-color: rgb(255, 255, 255);
  box-shadow: -10px -10px 0px rgba(0, 0, 0, 0.842);
}

.informacion {
  margin: 20px;
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 237, 211);
}

.primerdiv {
  border: rgb(23, 72, 206) solid 2px;
  width: 50%;
  margin: 2px;
}
.segundodiv {
  border-radius: 10px;
  width: 50%;
  margin: 2px;
  background-color: rgb(173, 171, 142);
}
.principal {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.tipo {
  border: solid 0.5px black;
  background-color: rgb(255, 245, 245);
  border-radius: 10px;
  box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.863);
  width: 20rem;
  height: 20rem;
  font-family: "Prompt", sans-serif;
}

.tipo li {
  margin: 10px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.863);
}
.habilidades {
  background-color: rgb(255, 119, 119);
}
.fire {
  background-color: red;
}

.bug {
  background-color: rgb(166, 252, 126);
}
.steel {
  background-color: slategray;
}

.flying {
  background-color: skyblue;
}

.water {
  background-color: steelblue;
}
.grass {
  background-color: yellowgreen;
}
.poison {
  background-color: rgb(81, 4, 153);
}
.normal {
  background-color: rgb(252, 249, 255);
}
.electric {
  background-color: rgb(255, 251, 0);
}
.ground {
  background-color: rgb(66, 45, 0);
}
.fairy {
  background-color: rgb(245, 135, 208);
}
.fighting {
  background-color: rgb(235, 241, 149);
}

.list {
  list-style: none;
}
.stats {
  background-color: rgb(248, 113, 113);
  width: 50%;
  border-radius: 10px;
  height: 400px;
}
