@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

button{
  border: none;
  background-color: #b0b0b000;
}

p {
  color: rgb(116, 116, 116);
}

h1 {
  color: black;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h3{
  text-align: center;
}

h4 {
  color: #555;
  font-weight: 400;
}

span {
  color: rgb(132, 175, 255);
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrar {
  text-align: center;
}

.Link {
  text-decoration: none;
}

/* HEROE CARD */
.heroe-card {
  margin: 40px;
  background-color: antiquewhite;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 3px 4px 30px;
  text-align: center;
  width: 80%;
}

.container-img {
  overflow: hidden;
}

.heroe-card-img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.5s ease;
}

.heroe-card-img:hover {
  transform: scale(1.3);
}

.card-title {
  color: #000000;
}

/* RESULTSLIST */

.results-for {
  padding: 3rem;
  color: #000000;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

/* Team */
.team-title{
  margin: 80px 0px;
}

.team-stats {
  padding: 10px;
  background: rgba(174, 194, 242, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
}

.power-list{
  display: flex;
  justify-content: center;
}

.powerstat{
  color: #000000;
  padding: 5px;
  text-align: center;
  background-color: #84afff;
  width: auto;
  border-radius: 10px;
}

.powerstat img {
  margin-right: 2px;
  width: 30px;
}
