@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

p {
  color: rgb(116, 116, 116);
}
h1 {
  color: black;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h4 {
  color: #555;
  font-weight: 400;
}

span {
  color: rgb(132, 175, 255);
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.centrar {
  text-align: center;
}

.Link {
  text-decoration: none;
}

/* HEROE CARD */
.heroe-card {
  margin: 40px;
  background-color: antiquewhite;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 3px 4px 7px;
  text-align: center;
  width: 80%;
}
.container-img {
  overflow: hidden;
}

.heroe-card-img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.5s ease;
}
.heroe-card-img:hover {
  transform: scale(1.3);
}

.card-title {
  color: #000000;
}

/* RESULTSLIST */

.results-for {
  padding: 3rem;
  color: #000000;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

/* Navbar */

.btn {
  margin: 2px;
}

/* Team */

.team-title {
  height: 40%;
  margin-top: 20px;
}

.team-stats {
  height: 30%;
  background: rgba(174, 194, 242, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
